.container {
    width: 97%;
    margin: auto;
    background-image: url(./craftpaper.jpg);
}

html {
    font-family: Lobster;
}

body {
    margin-top: 1rem;
}

/* header and navbar */
header {
    display: flex;
    padding: 1rem;
    position: sticky;
    top: 0;
    left: 30px;
    height: 3rem;
}

.navbar {
    width: 100%;
    overflow: auto;
    font-size: 1.5rem;
}  

#logospace{
    width: 40%;
}

#logo {
    height: 2.5rem;
    width: 5rem;
    margin-left: 3rem;
}

h1 {
    width: 60%;
    margin: 0;
    height: 2rem;
    padding-left: 1rem;
    font-size: 15pt;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    background-color: rgb(242, 219, 189);
    padding: 0;
    margin: 0;
    align-items: center;

} 

li {
    width: calc(100% / 4);
}

li a {
    background-color: rgb(242, 219, 189);
    color: rgba(0, 0, 0, 0.94);
    width: 100%;
    display: block;
    text-align: center;
    line-height: 2rem;
}

li a:hover {
    background-color: #bcb4a0;
    border-radius: 4px;
}


/* main - 1. home*/

section {
    padding-top: 15px;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 10rem;
}

h2 {
    width: 100%;
    padding-left: 3rem;
    margin-top: 1rem;
    font-size: 3rem;
}

#greetings{
    text-align: center;
    font-size: 3rem;
    padding-left:0;
}

#poster {
    width: 55%;
    height: auto;
}






/* main - 3. tutorial*/
#article_a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: auto;
    background: rgba(0, 0, 0, 0)
}

.hometext {
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    width: 80%;
}

#tutorial_intro {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

#tutorial_main {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 10rem;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
}

article {
    width: calc(100% / 4);
    padding: 0.5rem;
    box-sizing: border-box;
    margin: 0.5rem;
    flex-direction: column;
    background-color: rgb(242, 219, 189);
}

figure {
    float: left;
    margin: 0 1rem 1rem 0;
    border: 1px;
    border-radius: 0;
    width: 100%;
    height: auto;
}

img {
    border-radius: 0;
    width: 80%;
    height: auto;
}

figcaption {
    padding: 0;
}

.itemImg{
    height: 10rem;
    width: auto;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#item4Img{
    width: 5rem;
    height: 7rem;
}
p{
    text-align: center;
    font-size: 1.2rem;
}

.mini {
    width: calc(100% / 4);
    padding: 0.2rem;
    box-sizing: border-box;
    align-items: right;
    margin: 0.2rem;
    flex-direction: column;
    background-color: rgb(209, 215, 143);
}



/* main - 4. contact */
#contact {
    margin-top: 0%;
}

#contact {
    margin: 3rem 0;
}

.contactinfo {
    display: flex;
}

.contactP {
    width: 40%;
    text-align: left;
    padding: 3rem;
    padding-left: 5rem;
}


footer {
    text-align: center;
    font-size: 1.5rem;
    padding: 3rem;
    padding-top: 0;
}
